@import "reset";
@import "variables";
body{
    font-family: 'DM Sans', sans-serif;
}
button, a{
    cursor: pointer;
}
a{
    text-decoration: none;
}
svg{
    width: 32px;
    height: 32px;
}
.content__container{
    width: 1376px;
    margin: 0 auto;

}

/* start */
.header {

    // .header__container
    border-bottom: 1px solid black;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
    }

    // .header__logo

    &__logo {
        text-transform: uppercase;
        color: #000;
    }

    // .header__nav

    &__nav {
        padding: 15px 0;
    }

    // .header__ul

    &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 105px;
    }

    // .header__li

    &__li a{
        color: #000;
        text-transform: uppercase;
    }

    // .header__ul--second

    &__ul--second {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 32px;
    }

    // .header__li--second

    &__li--second {}

    // .header__svg
    &__button{
        background: none;
        border: none;
        font-family: 'DM Sans', sans-serif;
        padding: 5px;
        text-transform: uppercase;

    }
    &__svg {
        width: 35px;
        height: 32px;
    }
}

.content {

    // .content__container

    &__container {
        width: 1376px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.main {}

.title {

    // .title__box
    &__container{
        
    }
    &__background{
        background-image: url("../images/hero.png");
        background-repeat: no-repeat;
        border-radius: 12px;
        margin-bottom: 150px;
        position: relative;
    }
    &__box {
        padding-top: 76px;
        padding-bottom: 160px;
    }

    // .title__header

    &__header {
        font-size: 96px;
        line-height: 106px;
        text-transform: uppercase;
        color: #fff;
        padding: 65px 0px 250px 65px;
    }

    // .title__button

    &__button {
        background-color: $yellow-bg;
        border-radius: 26px;
        border: 1px solid black;
        padding: 16px 33px;
        margin-left: 65px;
        margin-bottom: 65px;
        text-transform: uppercase;
    }

    // .title__anchor

    &__anchor {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(-100px, 40px);
        width: 128px;
        height: 128px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: $gray-bg;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(61px, 25px);
            width: 1px;
            height: 72px;
            border-right: 3px solid black;
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(56px, 83px) rotate(45deg);
            width: 12px;
            height: 12px;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }
    }

    // .title__text

    &__text {
        font-weight: 400;
            font-size: 72px;
            line-height: 83px;
            color: #111010;
    }
}

.bestsellers {

    // .bestsellers__box

    &__box {
        background-color: $gray-bg;
        padding: 80px 0px 140px;
    }

    // .bestsellers__our

    &__our {
        font-weight: 400;
        font-size: 48px;
        line-height: 53px;
        text-transform: uppercase;
        color: #111010;
    }

    // .bestsellers__svg

    &__svg {
        width: 120px;
        height: 130px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(25px, 150px) ;

    }

    // .bestsellers__subcontainer

    &__subcontainer {
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
    }

    // .bestsellers__card

    &__card {
        position: relative;
    }

    // .bestsellers__img

    &__img {
        border-radius: 40% 40% 0px 0px;
    }

    // .bestsellers__name

    &__name {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }

    // .bestsellers__price

    &__price {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    // .bestsellers__price--new

    &__price--old {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        opacity: .7;
        &::before{
            content: '';
            position: absolute;
            width: 100px;
            height: 1px;
        }
    }
}

.poster {

    // .poster__box

    &__box {
        padding: 160px 0px;
    }

    // .poster__container

    &__container {}

    // .poster__ul

    &__ul {
        display: flex;
        justify-content: start;
        overflow: hidden;
        margin: 0px -35px 64px;
    }
    &__ul--second    {
        justify-content: end;
    }

    // .poster__li

    &__li {
        display: flex;
        align-items: center;
        flex: 1 1 33%;
    }

    // .poster__svg

    &__svg {
        width: 108px;
        height: 108px;
    }

    // .poster__li--text

    &__li--text {
        text-transform: uppercase;
        font-size:127px;
        line-height: 128px;
    }
}

.category {

    // .category__box
    &__container{
        display: flex;
        justify-content: space-between;
        column-gap: 33px;
    }
    &__box {
        padding: 30px 0px;
    }
    &__header{
        font-size: 48px;
        line-height: 53px;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    // .category__card

    &__card {
        flex: 1 1 33%;
        text-align: center;
        text-transform: uppercase;
        background: $violet-bg;
    }
    &__image{
        object-fit: cover;
    }
    // .category__text

    &__text {
        padding: 48px 0px;
    }
}

.kits {

    // .kits__box

    &__box {
        padding: 80px 0px;
        background-color: $gray-bg;
    }

    // .kits__container

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 96px;
    }

    // .kits__subcontainer

    &__subcontainer {
        flex: 1 1 50%;
    }

    // .kits__header

    &__header {
        font-size: 48px;
        line-height: 53px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    // .kits__text

    &__text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    // .kits__ul

    &__ul {
        margin-bottom: 30px;
    }

    // .kits__li

    &__li {
        border-top: 1px solid black;
        max-width: 330px;
        padding: 15px 10px;
        text-transform: uppercase;
        line-height: 24px;
        &:nth-child(3){
            border-bottom: 1px solid black;
        }
    }
    

    // .kits__button

    &__button {
        padding: 17px 33px;
        border-radius: 26px;
        background-color: $yellow-bg;
        border: 1px solid black;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
    }

    // .kits__subcontainer--second

    &__subcontainer--second {
        flex: 1 1 50%;
        border-radius: 50% 50% 0 0;
        
    }
    &__image{
        max-width: 550px;
        max-height: 470px;
        border-radius: 50% 50% 0 0;
        border: 1px solid black;
        
    }
}

.amenities {

    // .amenities__box

    &__box {
        padding: 160px 0px;
    }

    // .amenities__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 32px;
    }

    // .amenities__card

    &__card {
        flex: 1 1 25%;
        text-align: center;
    }

    // .amenities__svg

    &__svg {
        width: 56px;
        height: 56px;
        margin-bottom: 17px;
        fill: red;
    }

    // .amenities__header

    &__header {
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    // .amenities__text

    &__text {
        font-size: 18px;
        line-height: 25px;
    }
}

.responses {

    // .responses__box

    &__box {
        background-color: $yellow-bg;
        padding: 75px 0px;
    }

    // .responses__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
    }

    // .responses__card

    &__card {
        flex: 1 1 33%;
        text-align: center;
    }

    // .responses__text

    &__text {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    // .responses__name

    &__name {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.48px;
        text-transform: uppercase;
    }
}

.articles {

    // .articles__box

    &__box {}

    // .articles__container

    &__container {}

    // .articles__card

    &__card {}

    // .articles__text

    &__text {}
}

.contact {

    // .contact__box

    &__box {}

    // .contact__container

    &__container {}

    // .contact__subcontainer

    &__subcontainer {}

    // .contact__collection

    &__collection {}

    // .contact__date

    &__date {}

    // .contact__subcontainer--second

    &__subcontainer--second {}

    // .contact__header

    &__header {}

    // .contact__text

    &__text {}

    // .contact__input

    &__input {}

    // .contact__button

    &__button {}
}

.behind {

    // .behind__box

    &__box {}

    // .behind__header

    &__header {}

    // .behind__link

    &__link {}

    // .behind__ul

    &__ul {}

    // .behind__li

    &__li {}
}

.footer {

    // .footer__header

    &__header {}

    // .footer__subcontainer

    &__subcontainer {}

    // .footer__card

    &__card {}

    // .footer__input

    &__input {}

    // .footer__button

    &__button {}

    // .footer__home

    &__home {}

    // .footer__li

    &__li {}

    // .footer__about

    &__about {}

    // .footer__style

    &__style {}

    // .footer__ul

    &__ul {}
}